*{
    margin: 0px;
    padding: 0px;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  height: 300vh;
  box-sizing: border-box;       
}
.container {
     height: 100vh; 
     max-height: 800px;
     /* Ensure a minimum height for the container */
    }
.HeaderSection{
    background: #FFFFFF;
    height: 5.5%;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 5px 6px #ccc;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 5;
}
.CotentSection1{
    background-color: #FFFFFF;
    height: 110%;
    
}
.CotentSection2{
    background-color: rgb(255, 255, 255);
    height: 190%;
   
}
.FooterSection{
    background-color: rgb(156, 156, 188);
    height: 32%;
   
}
.icon {
    color: rgb(0, 0, 0); /* Set the color of the icon to grey */
    font-size: 220%;
    font-weight: 700;
    margin-top: 1.7%;
    margin-right: 10.4%;
}
.logo{
    margin-top: 0.7%;
    margin-left: 10.4%;
}

.cs1d1{
    height: 78%;
    background-color: aquamarine;
    margin-top: 2.5%;
    margin-left: 5.5%;
    margin-right: 5.5%;
    display: flex;

}
.cd11{
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 48%;
}
.cd12{
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 60%;
}
.cd11 img{
    height: 100%;
    width: 97%;
}
.cd121
{
height:   12%;
background: #ffffff;
margin-top: 11%;
margin-left: 16%;
}
.cd122{
height: 38%;
background-color: #ffffff;
margin-left: 16%;

}
.cd123{
    height: 19%;
    background-color: #ffffff;
margin-left: 16%;
margin-bottom: 12%;
}
.cd1211{
    height: 50%;
    background:rgb(10, 201, 10);
    width: 34%;
    display: flex;
   justify-content:space-evenly;
   color: #FFFFFF;
}
.cd1211 span{
    padding: 3%;
    height: 5%;

}
.cd122{
    font-size: 400%;
    font-weight: 500;
}

.bt11{
    margin-top: 1%;
    
}
.bt11 button {
    padding: 1.8%;
    background-color: rgb(236, 157, 10);
   
    box-shadow: none;
    border: none;
    transition: ease-in;
}

.bt11 button:hover {
    /* Add styles for the hover state here */
    /* For example, you can change the background color or add a box-shadow */
    background-color:rgb(212, 149, 11) /* new color */;
    box-shadow: /* new box-shadow */;
}
.cd123s1{
    height: 52%;
}

.cards{
    height: 18%;
    background: #ffffff;
    display: flex;
    justify-content: space-evenly;
}
.cardel{
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;
    display: flex;
}
.imgd{
    height: 65%;
    background-color: rgb(255, 255, 255);
    width: 20%;
    margin-top: 6%;
    margin-left: 4%;
    box-sizing: border-box;
}
.infod{
    height: 65%;
    background-color: rgb(255, 255, 255);
    width: 65%;
    margin-top: 6%;
    margin-left: 7%;
}
.imgd img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom-line {
    background-color: grey;
    height: 2px;
     /* Adjust the thickness and color of the line */
    width: 91%; /* Adjust the width of the line */
    margin: 10px auto; /* Center the line with top and bottom margins */
    filter: brightness(170%);
}
@media screen and (max-width: 375px) {
    .cs1d1 {
        display: flex;
    flex-direction: column;
    height: 200%;
    }
    .cd11 {
        width: 100%;
        height: 40%;
    }
    .cd122{
        width: 100%;
    }
  }
  
  