
*{
    padding: 0%;
    margin: 0%;
}
.navBar{height: 80px;
 background-color: white;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 15px;
}
.navBarContent{
height: 60px;
background-color: black;
color: antiquewhite;
border-radius: 15px;
padding: 10px;
box-sizing: content-box;
display: flex;
justify-content: space-between;

}
body{ 
    background-color: blueviolet;
}
p{
    margin-left: 50px;
    margin-top: 5px;
}
#logo{
    color: rgb(219, 157, 22);
    width: 75px;
    font-size: 25px;
    margin: 0px;
}
input{
   height: 20px;
   margin-right: 10px;
   margin-left: 550px;
   border-radius: 5px;
   margin-top: 5px;
}
button{
    height: 24px;
    border-radius: 5px;
    width: 100px;
    margin-top: 5px;
}
