*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(20, 20, 37);
}
div{background-color:rgb(215, 240, 215);background-color:rgb
}
#d1{
    background-color: rgb(20, 20, 37);
    height: 320px;
    padding: 10px;
    display: flex;
}
#c1{
    height: 320px;
    padding-top: 10px;
    padding-left: 10px;
    width: 30%;
}
#c2{
  
   height: 320px;
   width: 70%;
   padding-top: 10px;
   padding-right: 10px;
}
#c3{
   
    height: 340px;
   padding: 10px;
   margin: 10px;
   margin-top: 0px;
    
}
#imgprf{
    height: 250px;
    width: 185px;
    border-radius: 60%;
    margin-left: 170px;
    margin-top: 70px;
    
}
#hding {
    width: 200px;
    margin-top: 240px;
    margin-left: 30px;
    
}
#rth{
    margin-left: 160px;
}
#hd2{
    margin-left: 170px;
}
#paraf{
    text-align: right;
}