*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
.head_container{
    background: #ffffff;
    height: 110px;
    width: 100vw;
    box-shadow: 3px 3px 5px 6px #ccc;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.icon{
    font-size: 50px;
    height: 60px;
    width: 50px;
   
}
.hero{
   margin-top: 24vh;
   display: flex;
   align-items: center;
   gap: 1vw;

}

.heroinfo{
    margin-left: 18vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;

}
span{
    color: rgb(15, 139, 139);
}
.tag{
    display: flex;
    height: 3vw;
    background: rgb(219, 129, 26);
    color: white;
    align-items: center;
    justify-content: center;
    width: 15vw;
    font-size: 1.2vw;
}
.bttn button{
    padding: 0.9vw;
    background: rgb(19, 206, 44);
    border: none;
    transition: 0.2ms ease-in;
    width: 8vw;
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
}
.slogan h1{
    font-size:3vw;
    width: 25vw;
}
.heroimg img{
    width: 40vw;
    height: 35vw;
    margin-left: 10vw;
}
.heroimg{
    margin-right: 1px;
}
.bttn button:hover{
    background: orange;
    color: black;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4vh;
    width: 100vw;
    
    width: 98.7vw;
}
.cardcontent{
    height: 15vh;
    width: 3vw;
    background: #ffffff;
    width: 20vw;
    display: flex;
}

.cardtext{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 2vw;
    width: 60vw;
    
}
.dis{
    background-color: rgb(100, 20, 100);
    display: flex;
    align-items: center;
    padding: 1vh;
    color: white;
    border-radius: 5px;
    width: 10.4vw;
}
.dis1{
    width: 10.4vw;
}
@media (max-width:662px) {
    .hero{
        display: flex;
        flex-direction: column;
    
    }
    .heroimg img{
    margin-left: 2px;
    width: 90vw;
    height: 70vw;
}

.heroinfo{
    margin-top: 20px;
    margin-left: 2px;
    gap: 4vw;
    display: flex;
    flex-direction: column;

}
span{
    color: rgb(15, 139, 139);
}
.tag{
    display: flex;
    height: 40px;
    background: rgb(209, 92, 14);
    color: white;
    align-items: center;
    justify-content: center;
    width: 40vw;
    font-size: 3vw;
}
.bttn button{
    padding: 2vw;
    background: rgb(43, 153, 43);
    border: none;
    transition: 0.2ms ease-in;
    width: 20vw;
    font-size: 3vw;
    color: rgb(255, 255, 255);
}
.slogan h1{
    font-size:10vw;
    width: 70vw;
}

.bttn button:hover{
    background: orange;
    color: black;
}



    
}