* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Inter', sans-serif;
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center; 
    background-color: #A9A9A9;
    ;
}
.c1 {display: flex;
    background: rgba(255, 255, 255, 1);
    height: 13%;
    margin-bottom: 0px;
    width:60%;
    border-top-left-radius: 12px;  /* Adjust the radius as needed */
    border-top-right-radius: 12px
}

.c2 {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    height: 25.95%;
    margin-bottom: 0px;
    width:60%;
}

.c3 {
    background: rgba(255, 255, 255, 1);
    display: flex;
    height: 22%;
    margin-bottom: 0px;
    width:60%;
    flex-direction: column;
}
.c4{
    height: 37%;
    background: rgba(255, 255, 255, 1);
    width:60%;
    border-bottom-left-radius: 12px;  /* Adjust the radius as needed */
    border-bottom-right-radius: 12px
}
#c1h1{
    margin-top: 30px;
    margin-left: 110px;
    font-weight: 600;
    font-size: 50px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
}

#c1d1{
  height: 100%;
  background: greenyellow;  
}
#c1h2{
    margin-top: 38px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: rgba(4, 23, 90, 1);
}
.c2c2{
    display: flex;
    background-color: rgb(72, 46, 46);
    height: 45px;
    align-items: center;
   
}
#c2c1i1{
    width: 330px;
    height: 40px;
    border-radius: 5px;

    border: 4px;
    border: 1px solid rgb(209, 200, 200);
} 
#c2c1i2{
    width: 330px;
    height: 40px;
    border-radius: 5px;
    margin-left: 35px;
    border: 4px;
    border: 1px solid rgb(209, 200, 200);
   
}
.c2c1{
    display: flex;
}

#c2c1l2{
    margin-left: 30.3%;
    height: 20px;
}
#c2c1l1{
    margin-left: 12.3%;
    height: 20px;
}
.c2d1{
    height: 20px;
    width: 100%;
    margin-top: 0px;
}
.c2d2{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.c2d3{
    margin-top: 30px;
    height: 20px;
    width: 100%;
}
.c2d4{
    margin-top: 0px;
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#c2c2i1{
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(209, 200, 200);
    
} 
#c2c2s1{
    width: 330px;
    height: 42px;
    border-radius: 5px;
    margin-left: 35px;
    border: 1px solid rgb(209, 200, 200);
   
}
#c2c2l2{
    margin-left: 35%;
    height: 20px;
}
#c2c2l1{
    margin-left: 12.3%;
    height: 20px;
}
input[type="text"]::placeholder {
             
    /* Firefox, Chrome, Opera */
    text-indent: 15px;
   
}
#c3l1{
    margin-left: 12.3%;
    height: 20px;
}
#c3t1{
    margin-left: 12.3%;
    margin-right: 12.3%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid rgb(209, 200, 200);
    resize: none;
    margin-top: 2px;
}
.c4c2{
    display: flex;
    background-color: rgb(72, 46, 46);
    height: 45px;
    align-items: center;
   
}
#c4c1i1{
    width: 330px;
    height: 40px;
    border-radius: 5px;

    border: 4px;
    border: 1px solid rgb(209, 200, 200);
} 
#c4c1i2{
    width: 330px;
    height: 40px;
    border-radius: 5px;
    margin-left: 35px;
    border: 4px;
    border: 1px solid rgb(209, 200, 200);
   
}
.c4c1{
    display: flex;
}

#c4c1l2{
    margin-left: 30.3%;
    height: 20px;
}
#c4c1l1{
    margin-left: 12.3%;
    height: 20px;
}
.c4d1{
    height: 20px;
    width: 100%;
    margin-top: 9px;
}
.c4d2{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.c4d3{
    margin-top: 30px;
    height: 20px;
    width: 100%;
}
.c4d4{
    margin-top: 0px;
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#c4c2i1{
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(209, 200, 200);
    
} 
#c4c2s1 {
    width: 330px;
    height: 42px;
    line-height: 42px; /* Center text vertically */
    border-radius: 5px;
    margin-left: 35px;
    border: 1px solid rgb(209, 200, 200);
    background-color: #fff; /* Specify a background color */
  }
#c4c2l2{
    margin-left: 35%;
    height: 20px;
}
#c4c2l1{
    margin-left: 12.3%;
    height: 20px;
}
#b1{
    height: 30px;
    width: 100px;
    margin-top: 15px;
    margin-left: 700px;
    margin-bottom: 5px;
    background-color: rgb(207, 49, 49);
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: none;
    transition: background-color 0.3s ease
}
#b1:hover {
    background-color: #0bf358; 
  }
  #b1:active {
    transform: translateY(1px) translateZ(-1px);
  }