*{
    padding: 0px;
    margin: 0px;
}
.main
{
    display: flex;
}
.header{
    padding: 1vw;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 90vw;
}
.inputs{
    display: flex;
}

.inputs input{
    height: 9.6vh;
    width: 30vw;
    border: 0.5px solid #ccc;
  
}
.search{
    width: 4.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,240,240);
}
.micro
{
    margin-left: 1vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,240,240);
    border-radius: 90px;   
    height:  4.7vw;
    width: 4.7vw;
}
.container
{
    width: 94vw;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    
    margin: 0 auto; 
}
.micro img
{
    height: 1.6vw;
    width: 20vw;
}
.leftmost{
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 10vw;
}
.sidebar{
    padding: 19px;
    
    height: 100vh;
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.sidebar img{
    height: 40px;
}
.videos
{
    height: 25vh;
    width: 19vw;
    background: red;
}
.vids 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}